/* MOBILE SECTION */

@media only screen and (max-width: 420px) {
  .section_content {
    background-color: #d6dc9d;

    img {
      padding-top: 5%;
      width: 100%;
    }

     h4 {
      margin: auto 55px;
      margin-top: 10%;
      margin-bottom: 5%;
      color: #8b9620;
      font-size: 18px;
    }

    p {
      margin: auto 55px;
      color: #566573 ;
      font-size: 14px;
    }
  }
}

/* TABLET SECTION */

@media only screen and (min-width:421px) and (max-width:1024px) {
  .section_content {
    background-color: #d6dc9d;

    img {
      padding-top: 5%;
      width: 100%;
    }

    h4 {
      margin: auto 55px;
      margin-top: 10%;
      margin-bottom: 5%;
      color: #8b9620;
      font-size: 18px;
    }

    p {
      margin: auto 55px;
      color: #566573;
      font-size: 14px;
    }
  }
}

/* DESKTOP SECTION */

@media only screen and (min-width:1025px) {
  .section_content {
    background-color: #8b962070;

    img {

      height: 100vh;
    }

      /* titre effect */
    #titre_content_top {
      width: 45%;
      margin-left: 15%;
      margin-top: 6%;
      font-weight: bold;
      color: #fff;
      font-size: 34px;
      text-shadow: 1px 1px 2px #566573;
    }
    #titre_content_decale {
      font-weight: bold;
      margin-left: 20%;
      margin-bottom: 5%;
      width: 45%;
      color: #fff;
      font-size: 34px;
      text-shadow: 1px 1px 2px #566573;
    }
    /*************************/
    p {
      margin: auto 20%;
      margin-bottom: 8rem;
      color: #566573;
      font-size: 17px;
    }
  }
}
