/* MOBILE SECTION */
@media only screen and (max-width: 420px) {
  .intro {
/* titre effect */
    #titre_intro_top {
      width: 70%;
      margin-left: 8%;
      margin-top: 12%;

      color: #8b9620;
      font-size: 18px;
      text-shadow: 1px 1px 2px #566573;
    }

    #titre_intro_decale {
      margin-left: 20%;
      margin-bottom: 5%;
      width: 75%;
      color: #8b9620;
      font-size: 18px;
      text-shadow: 1px 1px 2px #566573;
    }
/*************************/
    h4 {
    margin: auto 55px;

    color: #8b9620;
    font-size: 18px;
    }

    p {
    margin: auto 16%;
    margin-bottom: 15px;
    color: #566573;
    font-size: 14px;
    }
  }
}

/* TABLET SECTION */
@media only screen and (min-width:421px) and (max-width:1024px) {

  .intro {
/* titre effect */
    #titre_intro_top {
      width: 70%;
      margin-left: 8%;
      margin-top: 12%;

      color: #8b9620;
      font-size: 18px;
      text-shadow: 1px 1px 2px #566573;
    }

    #titre_intro_decale {
      margin-left: 20%;
      margin-bottom: 5%;
      width: 75%;
      color: #8b9620;
      font-size: 18px;
      text-shadow: 1px 1px 2px #566573;
    }
/*************************/
    h4 {
      color: #8b9620;
      font-size: 18px;
    }

    p {
      margin: auto 20%;
      margin-bottom: 10%;
      color: #566573;
      font-size: 14px;
    }
  }
}



/* DESKTOP SECTION */
@media only screen and (min-width:1025px) {

  .intro {

/* titre effect */
    #titre_intro_top {
      width: 70%;
      margin-left: 15%;
      margin-top: 6%;

      color: #8b9620;
      font-size: 34px;
      text-shadow: 1px 1px 2px #566573;
    }

    #titre_intro_decale {
      margin-left: 20%;
      margin-bottom: 5%;
      width: 45%;
      color: #8b9620;
      font-size: 34px;
      text-shadow: 1px 1px 2px #566573;
    }
/*************************/
    p {
      margin: auto 20%;
      margin-bottom: 4rem;
      color: #566573;
      font-size: 17px;
    }
  }
}



