/* Global Styles */





/* Overlay */

#overlay {
background-color:rgba(0,0,0,.65);
height:100%;
left:0;
position:relative;
top:0;
transition:background-color 300ms ease;
width:100%;
}

.fade { background-color:rgba(0,0,0,.85) !important; }


/* Hero Video + Fallback */

#hero-vid {
background-position: center;
backface-visibility:hidden;
background:url("../../img/assets/suite6-354-15.jpg") no-repeat scroll 0 0 #000;
background-size:cover;
bottom:0;
height:auto;
min-height:100%;
min-width:100%;

position:fixed;
right:0;
width:auto;
z-index:-1;
}

#hero-pic {
display:block;
height:auto;
width:100%;
}

#state {
bottom:0;
cursor:pointer;
font-size:2.25rem;
left:0;
line-height:1;
padding:2rem 2.5rem 1.65rem;
position:absolute;
}


/* Content Styles */



#content {
  height: 100vh;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../img/assets/natural_slowlife.png");
  background-color:#8b962099;
  padding:2.5rem;
  position:relative;
  z-index:1;
}




/* Media Queries */

@media only screen and (max-width:768px) {
    #overlay { height:auto; }


#content {
  height: 50vh;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../img/assets/natural_slowlife.png");
  background-color:#8b962099;
  padding:2.5rem;
  position:relative;
  z-index:1;
}

}


/* Visibility Helpers */

@media only screen and (min-width:769px) {
  #content {

  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../img/assets/natural_slowlife.png");
  background-color:#8b962099;
  padding:2.5rem;
  position:relative;
  z-index:1;
}
    .visible-mobile,.visible-tablet,.hidden-desktop { display:none !important; }
}

@media only screen and (min-width:480px) and (max-width:768px) {
    .visible-mobile,.hidden-tablet,.visible-desktop { display:none !important; }
}

@media only screen and (max-width:479px) {
    .hidden-mobile,.visible-tablet,.visible-desktop { display:none !important; }
}
