/* MOBILE SECTION */
@media only screen and (max-width: 420px) {
  .section_sign_up {
    padding-top: 40px;
    background-image: url('../../img/assets/suite6-354-15.jpg');
    padding-bottom: 10%;
    height: 220px;
    top: 50px;
    position: sticky;
    z-index: -1;
    background-size: cover;

    a {
      color: #fff;
      font-size: 16px;
      border: 1px solid #fff;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 30px;
      padding-right: 30px;
      display: flex;
      justify-content: center;
      margin-top: 10%;
      margin-bottom: 10%;
      margin-left: 10%;
      margin-right: 10%;
    }

    iframe {
      width: 70%;
      height: 70vh;
      margin-bottom: 20px;
    }
  }
  #img_nat {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 80%;
    transition: all .5s;
  }
}

/* TABLET SECTION */
@media only screen and (min-width:421px) and (max-width:1024px) {

  .section_sign_up {
    padding-top: 60%;

    a {
      text-align: center;
      display: block;
      color: #fff;
      font-size: 16px;
      border: 1px solid #fff;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 30px;
      padding-right: 30px;
      margin-left: 20%;
      margin-right: 20%;
      margin-top: 10%;
      margin-bottom: 10%;
    }

    iframe {
      margin-bottom: 20px;
      width: 70%;
      height: 70vh;
      margin-right: 15%;
      margin-left: 15%;
    }
  }

  #img_nat {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 80%;
    transition: all .5s;
  }
}

/* DESKTOP SECTION */
@media only screen and (min-width: 1025px) {

  .section_sign_up {
    width: 100%;
    padding-top: 40px;
    margin-bottom: 20px;
    padding-bottom: 10%;
    height: 50vh;
    margin-top: 10%;
  }

  #img_nat {
    position: absolute;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 80%;
    transition: all .5s;
    margin-bottom: 2em;
  }
}
