/* PHONE SECTION */
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,800);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@media only screen and (max-width: 420px) {
  .section_header img {
    width: 100%;
    position: relative; }
  .section_header .banner {
    position: absolute;
    width: 50%;
    margin-top: -60%; }
    .section_header .banner a {
      margin-left: 5%;
      margin-top: 5px;
      color: #8b9620;
      font-size: 10px;
      border: 1px solid #8b9620;
      padding-top: 2px;
      padding-bottom: 2px;
      padding-left: 25px;
      padding-right: 25px; }
      .section_header .banner a:hover {
        text-decoration: none; }
    .section_header .banner h1 {
      margin-left: 25px;
      color: #A9A9A9;
      font-size: 20px; }
    .section_header .banner p {
      margin-top: 45px;
      margin-left: 15px;
      margin-bottom: 29px;
      color: #566573;
      font-size: 9px; } }
/* TABLET SECTION */
@media only screen and (min-width: 421px) and (max-width: 1024px) {
  .section_header img {
    width: 100%;
    position: relative; }
  .section_header .banner {
    position: absolute;
    width: 50%;
    margin-top: -43%; }
  .section_header h1 {
    margin-left: 25.5%;
    color: #A9A9A9;
    font-size: 24px;
    text-shadow: 1px 1px 2px #566573; }
  .section_header p {
    margin-top: 1.000em;
    margin-left: 5.625em;
    margin-bottom: 1.000em;
    color: #566573;
    font-size: 9px; }
  .section_header .banner a {
    margin-left: 0.798em;
    margin-top: 0.031em;
    color: #8b9620;
    font-size: 16px;
    border: 1px solid #8b9620;
    padding-top: 0.012em;
    padding-bottom: 0.012em;
    padding-left: 1.153em;
    padding-right: 1.153em; }
    .section_header .banner a:hover {
      text-decoration: none; } }
/* DESKTOP SECTION */
@media only screen and (min-width: 1025px) {
  .section_header img {
    width: 100%;
    position: relative; }
  .section_header .banner {
    position: absolute;
    width: 50%;
    margin-top: -43%;
    margin-left: 1%; }
  .section_header h1 {
    margin-left: 6.5%;
    color: #A9A9A9;
    font-size: 40px;
    text-shadow: 1px 1px 2px #566573; }
  .section_header p {
    margin-left: 4px;
    color: #566573;
    font-size: 24px; }

  .section_header .banner a {
    margin-left: 4px;
    color: #8b9620;
    font-size: 26px;
    border: 1px solid #8b9620;
    padding-top: 0.012em;
    padding-bottom: 0.012em;
    padding-left: 4.153em;
    padding-right: 4.153em; }
    .section_header .banner a:hover {
      text-decoration: none;
      background-color: #8b962090;
      color: #fff;
      text-shadow: 1px 1px 2px #566573; } }
/* MOBILE SECTION */
@media only screen and (max-width: 420px) {
  .intro {
    /* titre effect */
    /*************************/ }
    .intro #titre_intro_top {
      width: 70%;
      margin-left: 8%;
      margin-top: 12%;
      color: #8b9620;
      font-size: 18px;
      text-shadow: 1px 1px 2px #566573; }
    .intro #titre_intro_decale {
      margin-left: 20%;
      margin-bottom: 5%;
      width: 75%;
      color: #8b9620;
      font-size: 18px;
      text-shadow: 1px 1px 2px #566573; }
    .intro h4 {
      margin: auto 55px;
      color: #8b9620;
      font-size: 18px; }
    .intro p {
      margin: auto 16%;
      margin-bottom: 15px;
      color: #566573;
      font-size: 14px; } }
/* TABLET SECTION */
@media only screen and (min-width: 421px) and (max-width: 1024px) {
  .intro {
    /* titre effect */
    /*************************/ }
    .intro #titre_intro_top {
      width: 70%;
      margin-left: 8%;
      margin-top: 12%;
      color: #8b9620;
      font-size: 18px;
      text-shadow: 1px 1px 2px #566573; }
    .intro #titre_intro_decale {
      margin-left: 20%;
      margin-bottom: 5%;
      width: 75%;
      color: #8b9620;
      font-size: 18px;
      text-shadow: 1px 1px 2px #566573; }
    .intro h4 {
      color: #8b9620;
      font-size: 18px; }
    .intro p {
      margin: auto 20%;
      margin-bottom: 10%;
      color: #566573;
      font-size: 14px; } }
/* DESKTOP SECTION */
@media only screen and (min-width: 1025px) {
  .intro {
    /* titre effect */
    /*************************/ }
    .intro #titre_intro_top {
      width: 70%;
      margin-left: 15%;
      margin-top: 6%;
      color: #8b9620;
      font-size: 34px;
      text-shadow: 1px 1px 2px #566573; }
    .intro #titre_intro_decale {
      margin-left: 20%;
      margin-bottom: 5%;
      width: 45%;
      color: #8b9620;
      font-size: 34px;
      text-shadow: 1px 1px 2px #566573; }
    .intro p {
      margin: auto 20%;
      margin-bottom: 4rem;
      color: #566573;
      font-size: 17px; } }
/* MOBILE SECTION */
@media only screen and (max-width: 420px) {
  .section_content {
    background-color: #d6dc9d;
    /* titre effect */
    /*************************/ }
    .section_content img {
      padding-top: 5%;
      width: 100%; }
    .section_content #titre_content_top {
      width: 70%;
      margin-left: 8%;
      margin-top: 12%;
      color: #8b9620;
      font-size: 18px;
      text-shadow: 1px 1px 2px #566573; }
    .section_content #titre_content_decale {
      margin-left: 20%;
      margin-bottom: 5%;
      width: 75%;
      color: #8b9620;
      font-size: 18px;
      text-shadow: 1px 1px 2px #566573; }
    .section_content h4 {
      margin: auto 55px;
      color: #8b9620;
      font-size: 18px; }
    .section_content p {
      margin: auto 16%;
      color: #566573;
      font-size: 14px; } }
/* TABLET SECTION */
@media only screen and (min-width: 421px) and (max-width: 1024px) {
  .section_content {
    background-color: #d6dc9d;
    /* titre effect */
    /*************************/ }
    .section_content #titre_content_top {
      width: 70%;
      margin-left: 8%;
      margin-top: 12%;
      color: #8b9620;
      font-size: 18px;
      text-shadow: 1px 1px 2px #566573; }
    .section_content #titre_content_decale {
      margin-left: 20%;
      margin-bottom: 5%;
      width: 75%;
      color: #8b9620;
      font-size: 18px;
      text-shadow: 1px 1px 2px #566573; }
    .section_content img {
      padding-top: 5%;
      width: 100%; }
    .section_content h4 {
      color: #8b9620;
      font-size: 18px; }
    .section_content p {
      margin: auto 20%;
      margin-bottom: 10%;
      color: #566573;
      font-size: 14px; } }
/* DESKTOP SECTION */
@media only screen and (min-width: 1025px) {
  .section_content {
    background-color: #8b962070;
    /* titre effect */
    /*************************/ }
    .section_content img {
      height: 100vh; }
    .section_content #titre_content_top {
      width: 45%;
      margin-left: 15%;
      margin-top: 6%;
      font-weight: bold;
      color: #fff;
      font-size: 34px;
      text-shadow: 1px 1px 2px #566573; }
    .section_content #titre_content_decale {
      font-weight: bold;
      margin-left: 20%;
      margin-bottom: 5%;
      width: 45%;
      color: #fff;
      font-size: 34px;
      text-shadow: 1px 1px 2px #566573; }
    .section_content p {
      margin: auto 20%;
      margin-bottom: 8rem;
      color: #566573;
      font-size: 17px; } }
/* MOBILE SECTION */
@media only screen and (max-width: 420px) {
  .offers h3 {
    margin: auto 55px;
    margin-top: 10%;
    margin-bottom: 5%;
    color: #566573;
    font-size: 22px; }
  .offers .row {
    margin-right: 0% !important;
    margin-left: 0% !important; }
  .offers h4 {
    margin-right: 33%;
    margin-top: 10%;
    margin-bottom: 5%;
    color: #8b9620;
    font-size: 18px; }
  .offers p {
    margin: auto 55px;
    margin-bottom: 12px;
    color: #566573;
    font-size: 14px; }
  .offers img {
    height: 100%;
    width: 100%; }
  .offers .btn, .offers .btn-2 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 4em; }

  .offers a {
    color: #8b9620;
    font-size: 16px;
    border: 1px solid #8b9620;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px; }
    .offers a:hover {
      background-color: #8b9620;
      color: #fff;
      text-shadow: 1px 1px 2px #566573; } }
/* TABLET SECTION */
@media only screen and (min-width: 421px) and (max-width: 1024px) {
  .offers .row {
    margin-bottom: 6%;
    margin-right: 0% !important;
    margin-left: 0% !important; }
  .offers h3 {
    margin: auto 55px;
    margin-top: 10%;
    margin-bottom: 5%;
    color: #566573;
    font-size: 22px; }
  .offers h4 {
    margin-left: 10%;
    margin-right: 25%;
    margin-top: 10%;
    margin-bottom: 5%;
    color: #8b9620;
    font-size: 18px; }
  .offers p {
    margin: auto 55px;
    margin-bottom: 12px;
    color: #566573;
    font-size: 14px; }
  .offers img {
    display: block; }
  .offers .btn, .offers .btn-2 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2em; }

  .offers a {
    color: #8b9620;
    font-size: 16px;
    border: 1px solid #8b9620;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5%;
    padding-right: 5%; }
    .offers a:hover {
      background-color: #8b9620;
      color: #fff;
      text-shadow: 1px 1px 2px #566573; } }
/*  DESKTOP SECTION */
@media only screen and (min-width: 1025px) {
  .offers {
    width: 100%;
    margin-left: 4%;
    margin-right: 4%; }
    .offers h3 {
      margin: auto 55px;
      margin-top: 10%;
      margin-bottom: 5%;
      color: #8b9620;
      font-size: 38px;
      text-shadow: 1px 1px 2px #566573; }
    .offers h4 {
      padding-bottom: 2rem;
      display: flex;
      justify-content: center;
      margin: auto 6px;
      margin-top: 10%;
      margin-bottom: 10%;
      color: #566573;
      font-size: 24px; }
    .offers p {
      text-align: right;
      margin: auto 55px;
      margin-bottom: 12px;
      color: darkgrey;
      font-size: 21px;
      position: relative;
      top: -40px;
      color: #566573; }
    .offers img {
      width: 100%; }
    .offers .btn {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 2em; }

  .offers a {
    margin-bottom: 22px;
    margin-left: 4px;
    margin-right: 4px;
    color: #8b9620;
    font-size: 16px;
    border: 1px solid #8b9620;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 22px;
    padding-right: 22px; }
    .offers a:hover {
      text-decoration: none;
      background-color: #8b962090;
      color: #fff;
      text-shadow: 1px 1px 2px #566573; }

  .col-sm {
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em; } }
/* MOBILE SECTION */
@media only screen and (max-width: 420px) {
  .section_sign_up {
    padding-top: 40px;
    background-image: url("../../img/assets/suite6-354-15.jpg");
    padding-bottom: 10%;
    height: 220px;
    top: 50px;
    position: sticky;
    z-index: -1;
    background-size: cover; }
    .section_sign_up a {
      color: #fff;
      font-size: 16px;
      border: 1px solid #fff;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 30px;
      padding-right: 30px;
      display: flex;
      justify-content: center;
      margin-top: 10%;
      margin-bottom: 10%;
      margin-left: 10%;
      margin-right: 10%; }
    .section_sign_up iframe {
      width: 70%;
      height: 70vh;
      margin-bottom: 20px; }

  #img_nat {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 80%;
    transition: all .5s; } }
/* TABLET SECTION */
@media only screen and (min-width: 421px) and (max-width: 1024px) {
  .section_sign_up {
    padding-top: 60%; }
    .section_sign_up a {
      text-align: center;
      display: block;
      color: #fff;
      font-size: 16px;
      border: 1px solid #fff;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 30px;
      padding-right: 30px;
      margin-left: 20%;
      margin-right: 20%;
      margin-top: 10%;
      margin-bottom: 10%; }
    .section_sign_up iframe {
      margin-bottom: 20px;
      width: 70%;
      height: 70vh;
      margin-right: 15%;
      margin-left: 15%; }

  #img_nat {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 80%;
    transition: all .5s; } }
/* DESKTOP SECTION */
@media only screen and (min-width: 1025px) {
  .section_sign_up {
    width: 100%;
    padding-top: 40px;
    margin-bottom: 20px;
    padding-bottom: 10%;
    height: 50vh;
    margin-top: 10%; }

  #img_nat {
    position: absolute;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 80%;
    transition: all .5s;
    margin-bottom: 2em; } }
/* MOBILE VERSION */
@media only screen and (max-width: 420px) {
  .snip1401 {
    font-family: 'Playfair Display', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 1%;
    width: 100%;
    color: #000000;
    text-align: right;
    font-size: 16px;
    background-color: #000000; }
    .snip1401 img {
      width: 35em;
      max-width: 100%;
      backface-visibility: hidden; }
    .snip1401 figcaption {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      opacity: .8;
      padding: 30px 0 30px 10px;
      background-color: #ffffff;
      width: 40%;
      -webkit-transform: translateX(150%);
      transform: translateX(150%); }
      .snip1401 figcaption h4 {
        font-size: 14px; }
      .snip1401 figcaption p {
        margin-right: 12%;
        font-size: 0.8em; }
    .snip1401 h3 {
      margin: 0 0 5px;
      line-height: 1.1em;
      font-weight: 900;
      font-size: 1.4em;
      opacity: 0.75; }
    .snip1401 a {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1; } }
.snip1401 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease; }

.snip1401 figcaption:before {
  position: absolute;
  opacity: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 100%;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 317px 172px 132px 16px;
  border-color: transparent #ffffff transparent transparent; }

.snip1401:after {
  position: absolute;
  bottom: 50%;
  right: 40%;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 223px 112px 0px 311px;
  border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease; }

.snip1401 h3,
.snip1401 p {
  line-height: 1.5em;
  -webkit-transform: translateX(-30px);
  transform: translateX(-30px);
  margin: 0; }

.snip1401:hover img,
.snip1401.hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  opacity: 0.5; }

.snip1401:hover:after,
.snip1401.hover:after,
.snip1401:hover figcaption,
.snip1401.hover figcaption,
.snip1401:hover i,
.snip1401.hover i {
  padding-right: 10px;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1; }

/* TABLET VERSION */
@media only screen and (min-width: 421px) and (max-width: 1024px) {
  #col_offer_3 {
    margin-right: 50%; }

  .snip1401 {
    font-family: 'Playfair Display', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 6%;
    color: #000000;
    text-align: right;
    font-size: 16px; }
    .snip1401 img {
      backface-visibility: hidden; }
    .snip1401 figcaption {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      opacity: .8;
      padding: 30px 0 30px 10px;
      background-color: #ffffff;
      width: 40%;
      -webkit-transform: translateX(150%);
      transform: translateX(150%); }
      .snip1401 figcaption h4 {
        font-size: 14px; }

  .snip1401 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease; }

  .snip1401 figcaption:before {
    position: absolute;
    opacity: 1;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 100%;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 317px 172px 132px 16px;
    border-color: transparent #ffffff transparent transparent; }

  .snip1401:after {
    position: absolute;
    bottom: 50%;
    right: 40%;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 223px 112px 0px 311px;
    border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease; }

  .snip1401 h3,
  .snip1401 p {
    line-height: 1.5em;
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
    margin: 0; }

  .snip1401 h3 {
    margin: 0 0 5px;
    line-height: 1.1em;
    font-weight: 900;
    font-size: 1.4em;
    opacity: 0.75; }

  .snip1401 p {
    font-size: 0.8em; }

  .snip1401 i {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px 30px;
    font-size: 44px;
    color: #ffffff;
    opacity: 1; }

  .snip1401 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1; }

  .snip1401:hover img,
  .snip1401.hover img {
    zoom: 1;
    filter: alpha(opacity=50);
    -webkit-opacity: 0.5;
    opacity: 0.5; }

  .snip1401:hover:after,
  .snip1401.hover:after,
  .snip1401:hover figcaption,
  .snip1401.hover figcaption,
  .snip1401:hover i,
  .snip1401.hover i {
    padding-right: 10px;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }
/* DESKTOP VERSION */
@media only screen and (min-width: 1025px) {
  #col_offer_3 {
    margin-right: 50%; }

  .snip1401 {
    font-family: 'Playfair Display', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 1%;
    width: 111%;
    color: #000000;
    text-align: right;
    font-size: 16px;
    background-color: #000000; }
    .snip1401 img {
      max-width: 100%;
      backface-visibility: hidden; }
    .snip1401 figcaption {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      opacity: .8;
      padding: 30px 0 30px 10px;
      background-color: #ffffff;
      width: 46%;
      -webkit-transform: translateX(150%);
      transform: translateX(150%); }
    .snip1401 h3 {
      margin: 0 0 5px;
      line-height: 1.1em;
      font-weight: 900;
      font-size: 1.4em;
      opacity: 0.75;
      font-size: 1.8em; }
    .snip1401 p {
      font-size: 1em; }
    .snip1401 a {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1; }

  .snip1401 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease; }

  .snip1401 figcaption:before {
    position: absolute;
    opacity: 1;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 100%;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 393px 200px 159px 24px;
    border-color: transparent #ffffff transparent transparent; }

  .snip1401:after {
    display: none; }

  .snip1401 h3,
  .snip1401 p {
    line-height: 1.5em;
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
    margin: 0; }

  .snip1401:hover img,
  .snip1401.hover img {
    zoom: 1;
    filter: alpha(opacity=50);
    -webkit-opacity: 0.5;
    opacity: 0.5; }

  .snip1401:hover:after,
  .snip1401.hover:after,
  .snip1401:hover figcaption,
  .snip1401.hover figcaption,
  .snip1401:hover i,
  .snip1401.hover i {
    padding-right: 10px;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }
/* Visibility Helpers */
@media only screen and (min-width: 769px) {
  #content {
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../img/assets/natural_slowlife.png");
    background-color: #8b962099;
    padding: 2.5rem;
    position: relative;
    z-index: 1; }

  .visible-mobile, .visible-tablet, .hidden-desktop {
    display: none !important; } }
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .visible-mobile, .hidden-tablet, .visible-desktop {
    display: none !important; } }
@media only screen and (max-width: 479px) {
  .hidden-mobile, .visible-tablet, .visible-desktop {
    display: none !important; } }
/* Media Queries */
@media only screen and (max-width: 768px) {
  #overlay {
    height: auto; }

  #content {
    height: 50vh;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../img/assets/natural_slowlife.png");
    background-color: #8b962099;
    padding: 2.5rem;
    position: relative;
    z-index: 1; } }
/* TABLET SECTION */
@media only screen and (min-width: 421px) and (max-width: 1024px) {
  #content {
    height: 100vh;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../img/assets/natural_slowlife.png");
    background-color: #8b962099;
    padding: 2.5rem;
    position: relative;
    z-index: 1; }

  #overlay {
    position: relative;
    transition: background-color 300ms ease;
    width: 100%; }

  #hero-vid {
    background-position: center;
    backface-visibility: hidden;
    background: url("../../img/assets/suite6-354-15.jpg") no-repeat scroll 0 0 #000;
    background-size: cover;
    bottom: 0;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    right: 0;
    width: auto;
    z-index: -1; }

  #hero-pic {
    display: block;
    height: 60%;
    width: 100%; }

  #state {
    bottom: 0;
    cursor: pointer;
    font-size: 2.25rem;
    left: 0;
    line-height: 1;
    padding: 2rem 2.5rem 1.65rem;
    position: absolute; } }
/* DESKTOP SECTION */
@media only screen and (min-width: 1025px) {
  /* Overlay */
  #overlay {
    background-color: rgba(0, 0, 0, 0.65);
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    transition: background-color 300ms ease;
    width: 100%; }

  .fade {
    background-color: rgba(0, 0, 0, 0.85) !important; }

  /* Hero Video + Fallback */
  #hero-vid {
    background-position: center;
    backface-visibility: hidden;
    background: url("../../img/assets/suite6-354-15.jpg") no-repeat scroll 0 0 #000;
    background-size: cover;
    bottom: 0;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    right: 0;
    width: auto;
    z-index: -1; }

  #hero-pic {
    display: block;
    height: 60%;
    width: 100%; }

  #state {
    bottom: 0;
    cursor: pointer;
    font-size: 2.25rem;
    left: 0;
    line-height: 1;
    padding: 2rem 2.5rem 1.65rem;
    position: absolute; }

  /* Content Styles */
  #content {
    height: 100vh;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../img/assets/natural_slowlife.png");
    background-color: #8b962099;
    padding: 2.5rem;
    position: relative;
    z-index: 1; } }
.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0, 0, 0, 0.3); }
  .footer .footer-links {
    display: flex;
    align-items: center; }
  .footer .footer-links a {
    color: black;
    opacity: 0.15;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px; }
    .footer .footer-links a:hover {
      opacity: 1;
      color: #8b9620; }

/* PUSH FOOTER ON BOTTOM PAGE */
.wrapper {
  min-height: 100%;
  margin-bottom: -90px; }

/* TABLET SECTION */
@media only screen and (min-width: 421px) and (max-width: 1024px) {
  .footer {
    height: 80px;
    margin-top: 30%;
    padding-top: 5%; } }
/* DESKTOP SECTION */
@media only screen and (min-width: 1025px) {
  .footer {
    height: 80px; } }
/* PHONE SECTION */
@media only screen and (max-width: 420px) {
  .menu {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
    opacity: .8; }

  .topnav {
    display: flex;
    justify-content: space-around;
    width: -webkit-fill-available;
    height: 80px; }
    .topnav img {
      width: 30vw;
      object-fit: contain; }
    .topnav a {
      font-size: 16px;
      margin-top: 18px;
      color: #2C3E50; }
      .topnav a:hover {
        color: #ab7658;
        text-decoration: none; } }
/* TABLET SECTION */
@media only screen and (min-width: 421px) and (max-width: 1024px) {
  .menu {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
    opacity: .8; }

  .topnav {
    display: flex;
    justify-content: space-around;
    width: -webkit-fill-available;
    height: 80px; }
    .topnav img {
      width: 30vw;
      object-fit: contain; }
    .topnav a {
      font-size: 16px;
      margin-top: 18px;
      color: #2C3E50; }
      .topnav a:hover {
        color: #ab7658;
        text-decoration: none; } }
/* DESKTOP SECTION*/
@media only screen and (min-width: 1025px) {
  .menu {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
    opacity: .8; }

  img {
    width: 100%; }

  /* NAVBAR SECTION */
  .navbar {
    position: sticky;
    top: 0px; }

  .topnav {
    display: flex;
    justify-content: space-around;
    width: -webkit-fill-available;
    height: 90px; }
    .topnav img {
      width: 30vw;
      object-fit: contain; }
    .topnav a {
      font-size: 28px;
      margin-top: 20px;
      color: #2C3E50; }
      .topnav a:hover {
        color: #ab7658;
        text-decoration: none; } }
.video {
  background-color: #8b962099;
  width: 100%; }

iframe {
  margin-bottom: 20px;
  width: 70%;
  margin-right: 15%;
  margin-left: 15%;
  position: relative; }

/* MOBILE SECTION */
@media only screen and (max-width: 420px) {
  .parallax_section {
    height: 82vh; }
    .parallax_section #content {
      height: 35vh; }

  .btn_parallax {
    display: flex;
    justify-content: center;
    margin-top: 33%;
    position: sticky;
    top: 100px; }
    .btn_parallax a {
      color: #fff;
      font-size: 16px;
      border: 2px solid #fff;
      padding-top: 2%;
      padding-bottom: 2%;
      padding-left: 6%;
      padding-right: 6%; }
      .btn_parallax a:hover {
        text-decoration: none;
        background-color: #e5e5e540;
        color: #fff;
        text-shadow: 1px 1px 2px #566573; }

  #hero-pic {
    margin-top: 0%; } }
/* TABLET SECTION */
@media only screen and (min-width: 421px) and (max-width: 1024px) {
  .parallax_section {
    height: 82vh; }
    .parallax_section #content {
      height: 35vh; }

  .btn_parallax {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
    position: sticky;
    top: 100px; }
    .btn_parallax a {
      color: #fff;
      font-size: 16px;
      border: 2px solid #fff;
      padding-top: 2%;
      padding-bottom: 2%;
      padding-left: 6%;
      padding-right: 6%; }
      .btn_parallax a:hover {
        text-decoration: none;
        background-color: #e5e5e540;
        color: #fff;
        text-shadow: 1px 1px 2px #566573; }

  #hero-pic {
    margin-top: 0%; }

  .video {
    padding-bottom: 13%;
    padding-top: 2%; }
    .video iframe {
      height: 60vh; } }
/* DESKTOP SECTION */
@media only screen and (min-width: 1025px) {
  .btn_parallax {
    display: flex;
    justify-content: center;
    margin-top: 7%;
    position: sticky;
    top: 100px; }
    .btn_parallax a {
      color: #fff;
      font-size: 16px;
      border: 2px solid #fff;
      padding-top: 2%;
      padding-bottom: 2%;
      padding-left: 6%;
      padding-right: 6%;
      margin-left: 35%;
      margin-right: 35%; }
      .btn_parallax a:hover {
        text-decoration: none;
        background-color: #e5e5e540;
        color: #fff;
        text-shadow: 1px 1px 2px #566573; } }
@media only screen and (max-width: 420px) {
  .video {
    display: flex;
    justify-content: center; }

  iframe {
    margin-bottom: 20px;
    height: fit-content;
    margin-right: 5%;
    margin-left: 5%;
    position: relative; } }
body {
  font-family: 'avant_gardedemiregular'; }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIm1haW4uc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTtFQUNJLHNDQUFzQyxFQUN6QyIsImZpbGUiOiJtYWluLmNzcyIsInNvdXJjZXNDb250ZW50IjpbImJvZHkge1xuICAgIGZvbnQtZmFtaWx5OiAnYXZhbnRfZ2FyZGVkZW1pcmVndWxhcic7XG59XG4iXX0= */
/* CSS Etienne */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.page {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff; }

.page h1, h2, h3, h4 {
  font-family: 'Libre Baskerville', serif; }

a {
  text-decoration: none; }

.section {
  width: 100%; }

.content {
  height: 600px; }

/*# sourceMappingURL=main.css.map */
